

<div class="container">
<ul>
  <li><a routerLink="/home" routerLinkActive="active"  >Home</a></li>
  <li><a routerLink="features" routerLinkActive="active">features</a></li>
  <li><a [routerLink]="['contact']" routerLinkActive="active">contact</a></li>
  <li><a routerLink="wishlist" routerLinkActive="active">wishlist</a></li>
  
</ul>
</div>
<!-- <div class="container">
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/features">features</a></li>
      <li><a href="contact">contact</a></li>
      <li><a href="wishlist">wishlist</a></li>

    </ul>
    </div> -->
    <div class="container">
      <app-wishlist [parentDataaa]="messageFromParent" (childEvent)="message=$event" ></app-wishlist>
    </div>
    {{message}}

    <div class="container">
        <app-features (childEvent)="messageFromFeatureChild=$event" ></app-features>
        {{messageFromFeatureChild}}
    </div>
<!-- <div class="container">
<router-outlet></router-outlet>
</div> -->
<!-- <app-home></app-home>
<app-features></app-features>
<app-contact></app-contact>
<app-page-not-found></app-page-not-found> -->
